<div class="bg-emerald-300">
  <div class="flex items-center justify-between px-2">
    <p class="text-xl text-black">Keywords:</p>
    <button
      (click)="clearAllKeywords()"
      class="bg-emerald-700 text-white p-2 text-xl rounded-2xl"
    >
      Clear All
    </button>
  </div>
  <ul class="py-2">
    <li
      *ngFor="let keyword of keywordService.keywords(); let i = index"
      class="py-1"
      [style.backgroundColor]="toggleToColor(keyword.done)"
      (click)="toggleKeyword(keyword)"
    >
      <div
        class="flex items-center text-[16px] text-black justify-between px-2"
      >
        <div class="">{{ i + 1 }}. {{ keyword.text }}</div>
        <button
          (click)="removeKeyword(keyword)"
          class="rounded-2xl bg-red-600 text-white p-2"
        >
          Remove
        </button>
      </div>
    </li>
  </ul>
</div>
