<p class="">Keywords:</p>
<button (click)="clearAllKeywords()" class="">Clear All</button>
<ul>
  <li
    *ngFor="let keyword of keywordService.keywords(); let i = index"
    class=""
    [class.done]="keyword.done"
  >
    <div class="">
      <div class="">{{ i + 1 }}. {{ keyword.text }}</div>
      <div class="">
        {{ keyword.done ? "Done" : "Not Done" }}
        <button (click)="toggleKeyword(keyword)" class="">Toggle</button>
        <button (click)="removeKeyword(keyword)" class="">Delete</button>
      </div>
    </div>
  </li>
</ul>
