.keywords-display-header {
  font-size: 22px;
  color: black;
  text-align: left;
}

.list-keyword {
  font-size: 18px;
  color: black;
  text-align: left;
}

.status-toggle-button {
  color: black;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
}

.keyword-text {
  padding: 10px;
}

.keyword-options {
  padding: 10px;
}

.delete-button {
  color: black;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
