<button (click)="createNewWindow()">new window</button>
<ul>
  <li
    *ngFor="let window of windowService.windows(); let i = index"
    class="list-keyword"
  >
    <div class="container flex justify-between items-center">
      <div class="keyword-text">{{ i + 1 }}. {{ window.name }}</div>
      <button (click)="onWindowClick(window.id)">
        {{ window.id === windowService.activeWindowID() ? "Active" : "Select" }}
      </button>
      <button (click)="deleteWindow(window.id)">Delete</button>
    </div>
  </li>
</ul>
