<div class="items-center">
  <form (ngSubmit)="createNewWindow()">
    <input type="text" class="" [(ngModel)]="windowName" />
    <button
      (click)="createNewWindow()"
      type="submit"
      class="border-black rounded-2xl bg-amber-300 text-3xl"
    >
      Add Window
    </button>
  </form>

  <ul class="">
    <li
      *ngFor="let window of windowService.windows(); let i = index"
      class=""
      [ngClass]="{
        'active-window': window.id === windowService.activeWindowID(),
        'inactive-window': window.id !== windowService.activeWindowID()
      }"
      [style.backgroundColor]="
        windowService.getBackgroundColor(window.id) || '#222222'
      "
    >
      <div class="">
        <button (click)="onWindowClick(window.id)">
          {{ window.name ? window.name : "unnamed window" }}
        </button>
        <button (click)="deleteWindow(window.id)">Delete</button>
      </div>
    </li>
  </ul>
</div>
