<div class="container">
  <button (click)="createNewWindow()" class="new-window-button">+</button>

  <ul class="container">
    <li
      *ngFor="let window of windowService.windows(); let i = index"
      class="window"
      [ngClass]="{
        'active-window': window.id === windowService.activeWindowID(),
        'inactive-window': window.id !== windowService.activeWindowID()
      }"
      [style.backgroundColor]="
        windowService.getBackgroundColor(window.id) || '#222222'
      "
    >
      <div class="container">
        <button (click)="onWindowClick(window.id)">
          {{ window.name ? window.name : "unnamed window" }}
        </button>
        <button (click)="deleteWindow(window.id)">Delete</button>
      </div>
    </li>
  </ul>
</div>
