@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */
html,
body {
  display: block;
  min-width: 400px;
  min-height: 600px;
  width: 400px;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: auto;
}
